# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env/
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Streamlit
.streamlit/

# Models
*.joblib
*.h5
*.pkl

# OS
.DS_Store

# Large data
data/raw/
data/cache/

# Node (if any)
node_modules/
!notebooks/random_forest_model.pkl
!notebooks/trained_feature_names.pkl
!notebooks/model_performance_summary.csv
!notebooks/feature_importances_rf.csv
!models/
